*{box-sizing: border-box;}
.title{
  background-color: purple;
  color: pink;
  text-align: center;
}
.link{
  background-color: darkgray;
  color: purple;
  text-decoration: none;
  padding: 10px 20px;
}
.link:hover{
  background-color: purple;
  color: darkgray;
  box-shadow: 0px 0px 3px 1px purple;
}
.modalWindow{
  background-color: rgba(150, 150, 150, 0.6);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  pointer-events: none;
}
.modalWindow:target{
  opacity: 1;
  pointer-events: auto;
  transition: ease-in 0.5s;
}
.content{
  width: 550px;
  height: 450px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative;
}
.close{
  background-color: lightgray;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  color: darkgray;
  font-weight: 600;
}
.close:hover{
  background-color: darkslategray;
  color: white;
}
.info{
  
  width: 100%;
  height: 80%;
  position: absolute;
  top: 10%;
}
.info img{
  width: 42%;
  margin: 5%;
 
}
.p{
  position: absolute;
  width: 50%;
  top: 0px;
  right: 0px;
  
}
.p i{
  font-size: 0.7em;
}
.p b{
  color: red;
  font-size: 1.2em;
}
.p hr{
  margin-top: 60px;
}
.add{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: slategrey;
  text-align: center;
  color: lightgray;
  text-decoration:none;
  font-weight: bold;
  padding: 10px 0px;
}
.add:hover{
  background-color: lightgray;
  color: slategrey;
}
legend{
  background-color: slategray;
  color: white;
  padding: 0.5em 1em;
}
fieldset{
  width: 60%;
}
label{
  display: block;
  margin-top: 1em;
}